[submodule "nemea-framework"]
	path = nemea-framework
	url = https://github.com/CESNET/Nemea-Framework

[submodule "nemea-supervisor"]
	path = nemea-supervisor
	url = https://github.com/CESNET/Nemea-Supervisor
