<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/CESNET/Nemea">View on GitHub</a>

          <h1 id="project_title">NEMEA</h1>
          <h2 id="project_tagline">System for network traffic analysis and anomaly detection.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/CESNET/Nemea/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/CESNET/Nemea/tarball/master">Download this project as a tar.gz file</a>
{% for page in site.pages %}{% if page.title and page.public %}<a class="page_link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}{% endfor %}
<a class="page_link" href="{{ site.baseurl }}/">HOME</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


      </section>
    </div>

    {% include footer.html %}

    <!-- FOOTER  -->
    

  </body>

</html>
