<!DOCTYPE html>
<html>

  {% include head.html %}

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
//<!--

$(document).ready(function() {
   $('div#main_content_wrap h1,div#main_content_wrap h2,div#main_content_wrap h3').filter('[id]').each(function () {
       $(this).html($(this).text() + ' <a href="#'+$(this).attr('id')+'" class="anchor">&para;</a>');
});

//-->
});
</script>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
    <header class="inner">
          <a id="forkme_banner" href="https://github.com/CESNET/Nemea">View on GitHub</a>

          <h1 id="project_title">NEMEA</h1>
          <h2 id="project_tagline">System for network traffic analysis and anomaly detection.</h2>

          <label for="show-menu" class="show-menu">Menu &#9776;</label>

          	<input type="checkbox" id="show-menu" role="button">
          		<ul id="menu" class="page_link">
                <li>
                  <a href="{{ site.baseurl }}/">HOME</a>
                </li>
                {% for page in site.pages %}{% if page.title and page.public %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{% if page.menuentry %}{{ page.menuentry }}{% else %}{{ page.title }}{% endif %}</a>
                </li>
                {% endif %}{% endfor %}
                <li>
                  <a href="#">Download ￬</a>
                  <ul class="hidden">
                    <li><a  href="https://github.com/CESNET/Nemea/zipball/master">Download as a .zip</a></li>
                    <li><a  href="https://github.com/CESNET/Nemea/tarball/master">Download as a .tar</a></li>
                  </ul>
                </li>
          	</ul>
    </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


      </section>
    </div>

    {% include footer.html %}

    <!-- FOOTER  -->


  </body>

</html>
